In [1]:
#1 Reverse a string.
def reverse_string(string):
    if string=="":
        return ""
    else:
        return reverse_string(string[1:]) + string[0]

In [3]:
reverse_string('purchasing of items')

'smeti fo gnisahcrup'

In [10]:
#2 To check a string is palindrome or not.
def palindrome(string):
    s= string.lower()
    if s==s[::-1]:
        return "The string is palindrome"
    else:
        return "Not a palindrome"

In [11]:
palindrome("racecar")

'The string is palindrome'

In [13]:
#3 Uppercase.
string= input("enter the string-")
s = string.upper()
print(s)

enter the string- forest

FOREST

In [14]:
#4 Lowercase
string= input("enter the string-")
s = string.lower()
print(s)

enter the string- INDUSTRIES

industries

In [15]:
#5 Number of vowels in a string
string=input("enter the string")
vowels_count = 0
s = string.lower()
vowels=set('aeiou')
for char in s:
    if char in vowels:
        vowels_count += 1
print("Number of vowels are:",vowels_count)

enter the string Occupation

Number of vowels are: 5

In [16]:
#6 Number of consonants in a string
string=input("enter the string")
consonants_count = 0
s = string.lower()
consonants=set('bcdfghjklmnpqrstvwxyz')
for char in s:
    if char in consonants:
        consonants_count += 1
print("Number of consonants are:",consonants_count)

enter the string Education

Number of consonants are: 4

In [17]:
#7 Remove whitespaces from a string
def remove_whitespaces(entered_string):
    output_string=""
    for char in entered_string:
        if char != " ":
            output_string += char
    return output_string

In [19]:
remove_whitespaces("honesty is the best policy")

'honestyisthebestpolicy'

In [21]:
#8 Number of character without len 
def length(string):
    count=0
    string = string.lower()
    alpha = set("abcdefghijklmnopqrstuvwxyz")
    for char in string:
        if char in alpha:
            count +=1
    print("length of character:",count)

In [22]:
length('Hello mini world')

length of character: 14

In [23]:
#9 Whether the string contains a specific word
input_string = input("enter the string")
check_word = input("enter your search")
if check_word in input_string:
    print("The string contains:",check_word)
else:
        print("The result not found")

enter the string UP,MP,DELHI,GOA,MP,ORRISA
enter your search GOA

The string contains: GOA

In [25]:
#10 Replace a word with a new one
input_string= input("enter the string")
new_word= input("enter the  new word")
old_word=input("enter the word to be replaced")
modified_string = input_string.replace(old_word,new_word)
print(modified_string)

enter the string The world is mine
enter the  new word fine
enter the word to be replaced mine

The world is fine

In [1]:
#11 Occurance of a word in a string
def no_of_words(string,word):
    word_count = 0
    sentence=string.split()
    for words in sentence:
        if words == word:
            word_count +=1
    print("The word appears",word_count,"times")

In [4]:
no_of_words("He is prefect also he is annoying and here is curious", 'is')

The word appears 3 times

In [11]:
#12 First occurance of a word
def Search_word(string,word):
    index= string.find(word)
    if index == -1:
        return None
    print( "The index of the word is:",index)

In [12]:
Search_word("the world is developing",'is' )

The index of the word is: 10

In [3]:
#13 Last occurance of a word
def last_search_word(string,word):
    index= string.rfind(word)
    if index == -1:
        return None
    print( "The index of the word is:",index)

In [5]:
last_search_word("learning means growing and growing leads to development",'growing')

The index of the word is: 27

In [9]:
#14 Split a string into words
def split(string):
    word = string.split()
    return word

In [10]:
split("geography is the science of the earth")

['geography', 'is', 'the', 'science', 'of', 'the', 'earth']

In [11]:
#15 Join a list of words 
def join(words):
    sentence = ' '.join(words)
    return sentence

In [13]:
join(['hardwork','never','disappears'])

'hardwork never disappears'

In [14]:
#16 Replace spaces by underscores
def underscore_words(string):
    underscore_string=string.replace(' ','_')
    return underscore_string

In [15]:
underscore_words("here comes the big bull of the industry")

'here_comes_the_big_bull_of_the_industry'

In [16]:
#17 Whether a string starts with a specific word
def sentence(string,word):
    check_word = string.startswith(word)
    if check_word is True:
        print("The given sentence start with:",word)
    else:
        print("The given sentence doesnot start with:",word)

In [17]:
sentence("earth is round",'earth')

The given sentence start with: earth

In [20]:
#18 Whether a given string ends with a given word
def sentence(string,word):
    check_word = string.endswith(word)
    if check_word is True:
        print("The given sentence ends with:",word)
    else:
        print("The given sentence doesnot ends with:",word)

In [21]:
sentence("evolution is the law of nature",'nature')

The given sentence ends with: nature

In [22]:
#19 Convert a string to title case
def title_case(string):
    sentence= string.title()
    return sentence

In [23]:
title_case("market is growing")

'Market Is Growing'

In [41]:
#20 Longest word in a string
def longest_word(string):
    words = string.split()
    value = " "
    max_length = 0
    for word in words:
        if len(word) > max_length:
            max_length = len(word)
            value = word
    print("The longest word is: ",value)

In [42]:
longest_word("stress can directly impact your mental ability")

The longest word is:  directly

In [51]:
#21 Shortest word in a string
def shortest_word(string):
    words = string.split()
    value = None
    min_length = float(50)
    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            value = word
    print("The shortest word is: ",value)

In [52]:
shortest_word("stress can directly impact your mental ability")

The shortest word is:  can

In [61]:
#22 Reverse the order of word in string
def reverse_words(string):
    reverse = string.split()[::-1]
    l =[]
    for i in reverse:
        l.append(i)
        word = " ".join(l)
    return word

In [62]:
reverse_words("curiosity leads to invention")

'invention to leads curiosity'

In [69]:
#23 If a string is alphanumeric
def alphanumeric(text):
    string = text.isalnum()
    if string is True:
        print("The string is alphanumeric")
    else:
        print("The string is not alphanumeric")

In [70]:
alphanumeric("bottle234")

The string is alphanumeric

In [71]:
#24 Extract digits from given string
def extract_digits(string):
    digits = ""
    for char in string:
        if char.isdigit():
            digits += char
    return digits

In [72]:
extract_digits("hello1234rollcall56")

'123456'

In [75]:
#25 Extract all alphabet from a string
def extract_alpha(string):
    alpha = ""
    for char in string:
        if char.isalpha():
            alpha += char
    return alpha

In [77]:
extract_alpha("The number comprises 0 to 9 ")

'Thenumbercomprisesto'

In [79]:
#26 Count uppercase letters in a string
def count_uppercase(string):
    count = 0
    for char in string:
        if char.isupper():
            count += 1
    return count

In [80]:
count_uppercase("Python Is Easy To Learn")

5

In [81]:
#27 Count lowercase in a string
def count_lowercase(string):
    count = 0
    for char in string:
        if char.islower():
            count += 1
    return count

In [82]:
count_lowercase("Python Is Easy To Learn")

14

In [83]:
#28 Swap the case of each character in a string
def swap_case(string):
    swap_string= string.swapcase()
    return swap_string

In [84]:
swap_case("hello world")

'HELLO WORLD'

In [17]:
#29 Remove a word from a string
def remove_character(string,word):
    words = string.split()
    filtered_words = [i for i in words if i != word]
    sentence = "".join(filtered_words)
    return sentence

In [18]:
remove_character("time is running fast",'fast')

'timeisrunning'

In [25]:
#30 String is a valid email or not
import re
def valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern,email):
        return "Valid mail"
    else:
        return "Invalid"

In [26]:
valid_email("findgmail.com")

'Invalid'

In [28]:
#31 Extract username from mail
def extract_username(email):
    username = email.split('@')[0]
    return username

In [29]:
extract_username("sunxyz@yahoo.com")

'sunxyz'

In [30]:
#32 Extract the domain from mail
def extract_domain(email):
    domain = email.split('@')[1]
    return domain

In [31]:
extract_domain("sunxyz@yahoo.com")

'yahoo.com'

In [34]:
#33 Replace multiple spaces
def multiple_spaces(string):
    clear_space= ''.join(string.split())
    return clear_space

In [35]:
multiple_spaces("human resource")

'humanresource'

In [36]:
#34 check a string valid URL
from urllib.parse import urlparse

def valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

In [37]:
valid_url("http://drmbstick")

True

In [38]:
#35 Extract the protocol from a url
def extract_protocol(url):
    protocol_end = url.find("://")
    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

In [39]:
extract_protocol("http://geology123")

'http'

In [40]:
#36 Frequency of each character in a string
def word_frequency(string):
    frequency ={}
    for char in string:
        if char in frequency:
            frequency[char] +=1
        else:
            frequency[char] = 1
    return frequency

In [45]:
word_frequency("technological advancement")

{'t': 2,
 'e': 3,
 'c': 3,
 'h': 1,
 'n': 3,
 'o': 2,
 'l': 2,
 'g': 1,
 'i': 1,
 'a': 3,
 ' ': 1,
 'd': 1,
 'v': 1,
 'm': 1}

In [50]:
#37 Remove all punctuations
import string
def remove_punctuation(given_string):
    translator = str.maketrans("", "", string.punctuation)
    clean_string = given_string.translate(translator)
    return clean_string

In [51]:
remove_punctuation("hello! world")

'hello world'

In [52]:
#38 Check if a string contains only digits
def only_digits(string):
    return string.isdigit()

In [54]:
only_digits("123")

True

In [62]:
#39 Check if a string contains only alphabets
def only_alpha(string):
    return string.isalpha()

In [63]:
only_alpha("vacation01")

False

In [64]:
#40 String to list of characters
def list_character(string):
    char_list = list(string)
    return char_list

In [65]:
list_character('concentration')

['c', 'o', 'n', 'c', 'e', 'n', 't', 'r', 'a', 't', 'i', 'o', 'n']

In [67]:
#41 String are anagrams 
def anagram(string1,string2):
    st1 =string1.replace(" ","").lower()
    st2 =string2.replace(" ","").lower()
    if sorted(st1) == sorted(st2):
        print("The given string are anagrams")
    else:
        print("Not anagrams")

In [68]:
anagram('nest','sent')

The given string are anagrams

In [83]:
#42 Encode a string using caesar cipher
def caesar_cipher(text,shift):
    encoded_text = ""
    for char in text:
        if char.isalpha():
            encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
        else:
            encoded_char = char
        encoded_text += encoded_char
    return encoded_text

In [82]:
caesar_cipher('wake up',2)

'ycmg wr'

In [85]:
#43 Decode a encoded string using a caesar cipher
def caesar_cipher(text,shift):
    decoded_text = ""
    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decoded_char = char
        decoded_text += decoded_char
    return decoded_text

In [86]:
caesar_cipher('ycmg wr',2)

'wake up'

In [88]:
#44 Most frequent word in a string
import re
from collections import Counter
def most_frequent_word(string):
    clean_string = re.sub(r'[^\w\s]', '',string).lower()
    words = clean_string.split()
    word_counter = Counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word

In [92]:
most_frequent_word("mind is full of desire and desire never end")

'desire'

In [93]:
#45 Unique word in a string
import re
def unique_words(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = set(clean_string.split())
    return words

In [95]:
unique_words("nature is science or science is nature")

{'is', 'nature', 'or', 'science'}

In [96]:
#46 Number of syllable
string=input("enter the string")
vowels_count = 0
s = string.lower()
vowels=set('aeiou')
for char in s:
    if char in vowels:
        vowels_count += 1
print("Number of syllable are:",vowels_count)

enter the string geography

Number of syllable are: 3

In [100]:
#47 Contain special character 
import re
def special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    print( "contain special character:",bool(match))

In [101]:
special_characters("i am<< you are>> but god is @$%")

contain special character: True

In [12]:
#48 Remove the nth word from a string
def remove_nth_word(string, n):
    words = string.split()
    if n >= 1 and n <= len(words):
        removed_word = words.pop(n - 1)
        modified_string = ' '.join(words)
        print("original string:",string)
        print( "modified string:", modified_string) 
        print( "removed word:", removed_word)
    else:
        return None, None

In [13]:
remove_nth_word("data is the future of computer world",6)

original string: data is the future of computer world
modified string: data is the future of world
removed word: computer

In [29]:
#49 Insert a value at nth position in a string
def insert_nth_word(string,inserted_word, n):
    words = string.split()
    if n >= 1 and n <= len(words):
        insert_word = words.insert(n,inserted_word)
        modified_string = ' '.join(words)
        print("original string:",string)
        print( "modified string:", modified_string) 
        print( "inserted word:", inserted_word)
    else:
        return None, None

In [31]:
insert_nth_word("hello world",'real',1)

original string: hello world
modified string: hello real world
inserted word: real

In [47]:
#50 Convert csv string to list
def csv_string_to_list(csv_string):
    lines = csv_string.split()
    result = []
    for line in lines:
        fields = line.split(',')
        result.append(fields)
    return result

In [49]:
csv_string_to_list("Name,Age,Job,Salary,Rohit,26,IT,12lac")

[['Name', 'Age', 'Job', 'Salary', 'Rohit', '26', 'IT', '12lac']]

In [53]:
#  LIST BASED PRACTICE PROBLEMS
#1 List with integers 1 to 10
integer_list = [i for i in range(1,11)] 
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
#2 Length of a list without using len function
def length_list(input_list):
    count =0
    for i in input_list:
        count +=1
    return count

In [56]:
length_list([1,2,3,4,5,6,8,0])

8

In [74]:
#3 Append a element in a list
input_list = [10,20,30]
add_list = 40
input_list.append(add_list)
print(input_list)

[10, 20, 30, 40]

In [4]:
#4 Insert an element at indices
input_list = [10,20,30]
add_list = 40
input_list.insert(2,add_list)
print("updated list:",input_list)

updated list: [10, 20, 40, 30]

In [5]:
#5 Remove an element by its value
input_list = [10,20,30,40,50]
remove_list = 40
input_list.remove(remove_list)
print("updated list:",input_list)

updated list: [10, 20, 30, 50]

In [6]:
#6 Remove an element by its index number
input_list = [10,20,30,40,50]
remove_list = 40
input_list.pop(3)
print("updated list:",input_list)

updated list: [10, 20, 30, 50]

In [22]:
#7 Check if an elemnet exist in a list
my_list =(input("enter the list"))
n = input("enter the number to check")
if n in my_list:
    print(True)
else:
    print(False)

enter the list [1,2,4,5,6,7,8]
enter the number to check 9

False

In [26]:
#8 Index of the first element
my_list =[1,2,3,4,5,6,7]
n = 5
index = my_list.index(n)
print("index of number:",index)

index of number: 4

In [31]:
#9 count of an occurance
my_list =[1,2,3,3,3,3,4,4,5,6,7]
n = 3
count = my_list.count(n)
print("count of number",n,'is',count)

count of number 3 is 4

In [32]:
#10 Reverse the list
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

In [33]:
#11 Sorting in ascending order
my_list = [5, 1, 3, 4, 2,7]
my_list.sort()
print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [1, 2, 3, 4, 5, 7]

In [34]:
#12 Sorting in descending order
my_list = [5, 1, 3, 4, 2,7]
my_list.sort(reverse = True)
print("Sorted list in descending order:", my_list)

Sorted list in descending order: [7, 5, 4, 3, 2, 1]

In [35]:
#13 List of even numbers from 1 t0 20
even_number = [i for i in range(2,21,2)]
print(even_number)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [36]:
#14 List of odd numbers from 1 to 20
odd_number = [i for i in range(1,20,2)]
print(odd_number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [38]:
#15 sum of all elements in list
my_list = [10, 20, 30, 40, 50,60]
add = sum(my_list)
print("Sum of elements:", add)

Sum of elements: 210

In [39]:
#16 Max value in a list
my_list = [10, 20, 30, 40, 50,60]
max_value = max(my_list)
print("Maximum value:", max_value)

Maximum value: 60

In [40]:
#17 Min value in a list
my_list = [10, 20, 30, 40, 50,60]
min_value = min(my_list)
print("Minimum value:", min_value)

Minimum value: 10

In [50]:
#18 list of squares from 1 to 10
square = [x**2 for x in range(1,10)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
#19 Random numbers
import random
random_integers = [random.randint(1, 100) for i in range(5)]
print("List of random integers:", random_integers)

List of random integers: [9, 84, 80, 26, 42]

In [54]:
#20 Remove duplicates from a list
my_list =[1,2,3,3,3,3,4,4,5,6,7]
new_list = list(set(my_list))
print(new_list)

[1, 2, 3, 4, 5, 6, 7]

In [59]:
#21 Common member in list
def common_mem(a,b):
    result = [i for i in a if i in b]
    return result

In [60]:
common_mem([1,2,3,4],[3,4,5,6])

[3, 4]

In [64]:
#22 Difference in two list
list1 = [2,3,4,5]
list2 = [6,7,4,5]
differ = list(set(list1).difference(list2))
print("Difference of list",differ)

Difference of list [2, 3]

In [65]:
#23 Merge of two list
list1 = [10, 20, 30]
list2 = [40, 50, 60]
merged_list = list1 + list2
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60]

In [68]:
#24 Multiply the list by 2
list1 = [1,2,3,4,5]
new_list = [x*2 for x in list1]
print("New_list",new_list)

New_list [2, 4, 6, 8, 10]

In [77]:
#25 Numbers divisible by 2 in a list
list1 = [1,2,3,4,5]
new_list = [x for x in list1 if x%2 == 0]
print(new_list)

[2, 4]

In [78]:
#26 Convert list of string into intergers
string_list = ["1", "2", "4", "5"]
integer_list = [int(x) for x in string_list]
print("List of integers:", integer_list)

List of integers: [1, 2, 4, 5]

In [80]:
#27 Convert list of string into intergers
integer_list = [1, 2, 4, 5]
string_list = [str(x) for x in integer_list]
print("List of string", string_list)

List of string ['1', '2', '4', '5']

In [82]:
#28 Flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

In [83]:
flatten_list([[1,2,3],[4,5,6],[7,8,9]])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
#29 Fibonacci series
def generate_fibonacci(n):
    fibonacci_list = [0, 1] 
    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list

In [85]:
generate_fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [108]:
#30 Check if a list is sorted
def sorted_list(lst):
    for i in range(1,len(lst)):
        if lst[i] < lst[i-1]:
            return False 
    return True

In [109]:
sorted_list([1,2,7,3])

False

In [1]:
#31 Rotate the list left through n position
def rotate_left(lst, n):
    n = n % len(lst) 
    rotated = lst[n:] + lst[:n]
    return rotated

In [10]:
rotate_left([4,5,6,7,8,9],2)

[6, 7, 8, 9, 4, 5]

In [7]:
#32 Rotate the list right through n position
def rotate_right(lst, n):
    n = n % len(lst)
    rotated = lst[-n:] + lst[:-n]
    return rotated

In [9]:
rotate_right([3,4,5,6,7,8],2)

[7, 8, 3, 4, 5, 6]

In [27]:
#33 Create the list of prime from 1 to 50
def prime_number(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False
    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False
    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)
    return primes

In [28]:
prime_number(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [29]:
#34 list of chunks of size n
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
start = 0
end = len(my_list) 
step = 3
for i in range(start, end, step): 
    x = i 
    print(my_list[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [1]:
#35 Second largest number in a list
my_list = [1, 5, 2, 3, 6, 8]
sorted_list = sorted(set(my_list))
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 6

In [2]:
#36 Replace element with a square
my_list = [2,3,4,5,6]
new_list = [x**2 for x in my_list]
print("Squared list",new_list)

Squared list [4, 9, 16, 25, 36]

In [3]:
#37 List into dictionary
my_list = ['apple', 'banana', 'mango', 'guava', 'strawberry']
diction = {element: index for index, element in enumerate(my_list)}
print("Converted dictionary:",diction)

Converted dictionary: {'apple': 0, 'banana': 1, 'mango': 2, 'guava': 3, 'strawberry': 4}

In [4]:
#38 Shuffle the list randomly
import random
my_list = [1, 2, 3, 4, 5, 6]
random.shuffle(my_list)
print("Shuffled list:", my_list)

Shuffled list: [2, 4, 1, 3, 5, 6]

In [7]:
#39 List of first 10 factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
factorial_list = [factorial(i) for i in range(10)]
print("factorial list",factorial_list)

factorial list [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [10]:
#40 Atleast one item common in list
def common_item(list1,list2):
    for i in list1:
        if i in list2:
            return True
    return False

In [11]:
common_item([2,3,4,5],[5,6,7,8])

True

In [12]:
#41 Remove all elements from a list
my_list = [2,3,4,5,6]
my_list.clear()
print("clear list",my_list)

clear list []

In [21]:
#42 Replace negative no with 0 in a list
my_list = [1,2,3,4,-4,-5,-7]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print(my_list)

[1, 2, 3, 4, 0, 0, 0]

In [24]:
#43 String into list of words
my_string = "Hello world how are you"
word_list = my_string.split()
print("List of words:", word_list)

List of words: ['Hello', 'world', 'how', 'are', 'you']

In [26]:
#44 words into string
words = ['Hello', 'world', 'how', 'are', 'you']
string= " ".join(words)
print("String:",string)

String: Hello world how are you

In [27]:
#45 create first n power of 2
n = 6
power_list =[2**i for i in range(n)]
print(power_list)

[1, 2, 4, 8, 16, 32]

In [34]:
#46 Longest string in a list
string_list = ["apple", "banana", "cherry", "date", "strawberry"]
longest_string = ""
for x in string_list:
    if len(x) > len(longest_string):
        longest_string = x
print("Longest string:", longest_string)

Longest string: strawberry

In [35]:
#47 Shortest string in a list
string_list = ["apple", "banana", "cherry", "date", "strawberry"]
shortest_string = string_list[0]
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s
print("Shortest string:", shortest_string)

Shortest string: date

In [36]:
#48 Triangular numbers
def triangular_numbers(n):
    return [i*(i+1)//2 for i in range(1,n+1)]

In [37]:
triangular_numbers(6)

[1, 3, 6, 10, 15, 21]

In [39]:
#49 Subsequence list into main list
def check_subsequence(subsequence, main_list):
    subseq_index = 0 
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

In [40]:
check_subsequence([3,4],[1,2,3,4,5,6])

True

In [42]:
#50 Swap list by indices
my_list =[1,2,3,4,5,6]
x = my_list[1]
my_list[1] = my_list[2]
my_list[2] = x
print("swap list",my_list)

swap list [1, 3, 2, 4, 5, 6]

In [45]:
# Tuple based problems
#1 Creating a tuple with 1 to 5
x = [1,2,3,4,5]
my_tuple =tuple(x)
print(my_tuple)

(1, 2, 3, 4, 5)

In [48]:
#2 Access the third element of a tuple
my_tuple = (1,2,3,4,5,6)
third_element = my_tuple[2]
print("3rd Element is",third_element)

3rd Element is 3

In [51]:
#3 length of a tuple without len
my_tuple =(1,2,3,4,5,7)
count = 0
for i in my_tuple:
    count+=1
print("length of tuple",count)

length of tuple 6

In [57]:
#4 Occurance of an element in a tuple
my_tuple =(1,2,2,2,3,3,4,5,7)
element = 2
count =0
for i in my_tuple:
    if i == element:
        count+=1
print("no of times element repeated",count )

no of times element repeated 3

In [3]:
#5 Index of first occurance of an element
my_tuple = (10, 20, 30, 20, 40, 50)
element = 20
index = -1 
for i, item in enumerate(my_tuple):
    if item == element:
        index = i
        break 
if index != -1:
    print("The element",element, "occur at index",index)

The element 20 occur at index 1

In [6]:
#6 Element exist in a tuple
my_tuple =(1,2,2,2,3,3,4,5,7)
element = 2
if element in my_tuple:
    print("element exist in tuple")
else:
    print("element doesnot exist in tuple")

element exist in tuple

In [8]:
#7 Convert a tuple to a list
my_tuple =(1,2,2,2,3,3,4,5,7)
my_list = list(my_tuple)
print("Tuple",my_tuple)
print("List",my_list)

Tuple (1, 2, 2, 2, 3, 3, 4, 5, 7)
List [1, 2, 2, 2, 3, 3, 4, 5, 7]

In [10]:
#8 LIst into tuple
my_list =[1,2,2,2,3,3,4,5,7]
my_tuple = tuple(my_list)
print("List",my_list)
print("Tuple",my_tuple)

List [1, 2, 2, 2, 3, 3, 4, 5, 7]
Tuple (1, 2, 2, 2, 3, 3, 4, 5, 7)

In [14]:
#9 Unpack the elements 
my_tuple= (100,200,300)
var1,var2,var3 = my_tuple
print("variable1:",var1)
print("variable2:",var2)
print("variable3:",var3)

variable1: 100
variable2: 200
variable3: 300

In [16]:
#10 Tuple of even numbers from 1 to 10 
even_num = [num for num in range(2,11,2)]
in_tuple = tuple(even_num)
print("even number from  1 to 10",in_tuple)

even number from  1 to 10 (2, 4, 6, 8, 10)

In [17]:
#11 Odd number from 1 to 10
odd_num = [num for num in range(1,10,2)]
in_tuple = tuple(odd_num)
print("odd number from  1 to 10",in_tuple)

odd number from  1 to 10 (1, 3, 5, 7, 9)

In [18]:
#12 concatenate two tuples
tuple1 = (1,2,3)
tuple2 = (4,5,6)
concatenate = tuple1 + tuple2
print("concatenate tuples",concatenate)

concatenate tuples (1, 2, 3, 4, 5, 6)

In [19]:
#13 Repeat a tuple 3 times
tuple1 = (1,2,3)
repeat_tuple1 = tuple1 *3
print("repeated tuple",repeat_tuple1)

repeated tuple (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [20]:
#14 check an empty or non empty tuple
empty_tuple = ()
non_empty_tuple = (1, 2, 3)
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

In [21]:
#15 Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [23]:
#16 Access the first element of nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
first_element = nested_tuple[0]
print("first element of Nested tuple:", nested_tuple[0])

first element of Nested tuple: (1, 2, 3)

In [1]:
#17 Tuple with single element
my_tuple =(2,)
print(my_tuple)

(2,)

In [2]:
#18 whether two tuples are equal or not
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
print("tuple1 == tuple2:", tuple1 == tuple2)  
print("tuple1 != tuple2:", tuple1 != tuple2)
print("tuple1 < tuple2:", tuple1 < tuple2)    
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)    
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [13]:
#19 Delete a tuple
my_tuple = (1,2,3)
del(my_tuple)
print("After deleting the tuple")

After deleting the tuple

In [14]:
#20 Sliced the tuple
my_tuple = (1,2,3,4,5,6,7,8,9)
after_sliced = my_tuple[3:7]
print("sliced tuple",after_sliced)

sliced tuple (4, 5, 6, 7)

In [16]:
#21 max value in a tuple 
my_tuple = (10, 20, 5, 15, 40)
max_value = max(my_tuple)
print("Maximum value:", max_value)

Maximum value: 40

In [17]:
#22 min value in a tuple
my_tuple = (10, 20, 5, 15, 40)
min_value = min(my_tuple)
print("Minimum value:", min_value)

Minimum value: 5

In [18]:
#23 string into a tuple of characters
string = "HumanBrain"
my_tuple= tuple(string)
print("Tuple",my_tuple)

Tuple ('H', 'u', 'm', 'a', 'n', 'B', 'r', 'a', 'i', 'n')

In [22]:
#24 convert a tuple into a string
Tuple =('H', 'u', 'm', 'a', 'n', 'B', 'r', 'a', 'i', 'n')
string = ''.join(Tuple)
print ("String:",string)

String: HumanBrain

In [23]:
#25 Creating a tuple with elements of different data types
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [28]:
#26 If two tuples are identical
tuple1 =('a','b','c')
tuple2 =('d','e','f')
tuple3 =('a','b','c')
first_check = tuple1 == tuple2
second_check = tuple1 == tuple3
print("Tuples are equal:",first_check)
print("Tuples are equal:",second_check)

Tuples are equal: False
Tuples are equal: True

In [31]:
#27 sorting a tuple
my_value = [5, 2, 8, 1, 3]
sorted_tuple = tuple(sorted(my_value))
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

In [34]:
#28 Tuple of integers into tuple of string
my_tuple = (5,6,7,8,9)
string_tuple = tuple(str(item) for item in my_tuple) 
print("Tuple of string",string_tuple)

Tuple of string ('5', '6', '7', '8', '9')

In [33]:
#29 Tuple of string into tuple of int
tuple_of_strings = ('10', '20', '30', '40', '50')
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

In [35]:
#30 merge two tuple
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [49]:
#31 Flatten a nested tuple 
def flatten_tuple(nested_tuple):
    flattened =[]
    for item in nested_tuple:
        if isinstance(item,tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened  
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [55]:
#32 first 5 prime numbers
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]
prime_numbers_tuple = tuple(prime_numbers_list)
print("First 5 prime numbers",prime_numbers_tuple)

First 5 prime numbers (2, 3, 5, 7, 11)

In [62]:
#33 Check if tuple is palindrome
def is_palindrome(tup):
    return tup == tup[::-1]
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)
print(palindrome_tuple,"is",is_palindrome1)
print(non_palindrome_tuple,"is",is_palindrome2)

(1, 2, 3, 2, 1) is True
(1, 2, 3, 4, 5) is False

In [63]:
#34 Squares from 1 to 5
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [65]:
#35 Even number from 1 to 10 
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(num for num in original_tuple if num % 2 == 0)
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (2, 4, 6, 8, 10)

In [66]:
#36 Multiply elements by 2 in a tuple
my_tuple = (3,4,5,6,7)
new_tuple = tuple(i *2 for i in my_tuple)
print(new_tuple)

(6, 8, 10, 12, 14)

In [5]:
#37 Create random tuple
import random
random_tuple = tuple(random.randint(1, 100) for i in range(10))
print("Random tuple:", random_tuple)

Random tuple: (69, 4, 69, 66, 1, 57, 24, 30, 56, 73)

In [10]:
#38 Check if a tuple is sorted
def sorted(tup):
    for i in range(len(tup)-1):
        if tup[i]> tup[i+1]:
            return False
    return True

In [13]:
sorted((5,6,3,7,8))

False

In [14]:
#39 Rotate a tuple to n left position
def rotate_tuple_left(tup, n):
    n = n % len(tup) 
    rotated_tuple = tup[n:] + tup[:n] 
    return rotated_tuple

In [15]:
rotate_tuple_left((1,2,3,4,5),3)

(4, 5, 1, 2, 3)

In [16]:
#40 Roatate a tuple to n right position
def rotate_tuple_right(tup, n):
    n = n % len(tup) 
    rotated_tuple = tup[-n:] + tup[:-n] 
    return rotated_tuple

In [17]:
rotate_tuple_right((1,2,3,4,5),3)

(3, 4, 5, 1, 2)

In [18]:
#41 first 5 fibonacci series
def first_fibonacci(n):
    fibonacci = [0,1]
    while len(fibonacci) < n:
        next_element = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_element)
    return tuple(fibonacci)

In [19]:
first_fibonacci(5)

(0, 1, 1, 2, 3)

In [20]:
#42 Create the tuple form user input
input_str = input("Enter elements separated by commas: ")
input_list = input_str.split(',')
user_tuple = tuple(input_list)
print("User input tuple:", user_tuple)

Enter elements separated by commas:  1,2,3,4,5,6,7

User input tuple: ('1', '2', '3', '4', '5', '6', '7')

In [26]:
#43 swap two elements in a tuple
my_tuple = (1,2,3,4,5,6)
index1 = 2
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)
print(swapped_tuple)

(1, 2, 4, 3, 5, 6)

In [28]:
#44 reverse the elements of a tuple
my_tuple = (1,2,3,4,5)
reversed_tuple= my_tuple[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [31]:
#45 first 2 raise to the power n 
n = 6
power = tuple(2**i for i in range(0,n))
print(power)

(1, 2, 4, 8, 16, 32)

In [33]:
#46 max from tuple of strings
string_tuple = ("apple", "banana", "grape", "strawberry", "muskmelon")
longest_string = max(string_tuple, key=len)
print("Longest string:", longest_string)

Longest string: strawberry

In [36]:
#47 min from tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "muskmelon")
shortest_string = min(string_tuple, key=len)

# Print the longest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

In [37]:
#48 first 5 triangular numbers
n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [39]:
#49 if a tuple contain subsequence
def contain_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

In [40]:
contain_subsequence((1,2,3,4,5,6,7),(7,8,9))

False

In [41]:
#50 tuple start with 0s and 1s
n = 10
alternating_tuple = tuple(i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [42]:
# Set based problems
#1 Create a set from 1 to 5
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

In [43]:
#2 Add an element to a set
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
element_to_add = 6
my_set.add(element_to_add)
print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after adding element: {1, 2, 3, 4, 5, 6}

In [44]:
#3 remove an element from a set
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
element_to_remove = 3
my_set.remove(element_to_remove)

# Step 4: Display the modified set
print("Set after removing element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after removing element: {1, 2, 4, 5}

In [47]:
#4 check an element in set
my_set = {1, 3, 5, 7, 9}
element_to_check = int(input("Enter the element to check: "))
if element_to_check in my_set:
    print({element_to_check},"exists in the set.")
else:
    print({element_to_check}, "does not exist in the set.")

Enter the element to check:  3

{3} exists in the set.

In [48]:
#5 length of set without using len function
my_set = {1, 2, 3, 4, 5}
count = 0
for i in my_set:
    count += 1
print("Length of the set:", count)

Length of the set: 5

In [49]:
#6 Clear all elements from a set
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
my_set.clear()
print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

In [53]:
#7 Even number from 1 to 10
even_number = set()
for i in range (1,11):
    if i % 2 == 0:
        even_number.add(i)
print(even_number)

{2, 4, 6, 8, 10}

In [54]:
#8 Odd number from 1 to 10
odd_number = set()
for i in range (1,10):
    if i % 2 == 1:
        odd_number.add(i)
print(odd_number)

{1, 3, 5, 7, 9}

In [55]:
#9 Union of two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_result = set1.union(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

In [56]:
#10 Intersection of two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
intersection_result = set1.intersection(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Intersection: {3, 4, 5}

In [57]:
#11 Difference of two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
difference_set = set1.difference(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

In [58]:
#12 Subset of a set
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

In [59]:
#13 Superset of a set
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}
is_superset = set1.issuperset(set2)
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [60]:
#14 Create a set from a list
my_list = [2, 4, 1, 4, 3, 2, 5]
my_set = set(my_list)
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

In [61]:
#15 Create a list from set
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}
my_list = list(my_set)
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

In [1]:
#16 Remove a random element set from a set
import random 
my_set = {10, 20, 30, 40, 50, 60, 70}
print("Original set:", my_set)
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("Updated set after removing", random_element, ":", my_set)

Original set: {50, 20, 70, 40, 10, 60, 30}
Updated set after removing 40 : {50, 20, 70, 10, 60, 30}

In [10]:
#17 Pop an element from a set
my_set = {10, 20, 30, 40, 50}
print("Original set:", my_set)
popped_element = my_set.pop()
print("Popped element:", popped_element)
print("Set after popping:", my_set)

Original set: {50, 20, 40, 10, 30}
Popped element: 50
Set after popping: {20, 40, 10, 30}

In [17]:
#18 sets have something common
set1 = {1, 2, 3, 4}
set2 = {3, 4, 7, 8}
common_elements = set1.intersection(set2)
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have common elements: {3, 4}

In [18]:
#19 Symmetric difference
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symmetric_difference = set1 ^ set2
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [21]:
#20 Update set 
set1 = {1, 2, 3}
print("Set 1:", set1)
set2 = {3, 4, 5}
print("Set 2:", set2)
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

In [25]:
#21 create set with first 5 prime num
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_num = set()
num = 2
while len(prime_num)<5:
    if is_prime(num):
        prime_num.add(num)
    num+=1
print("set of first prime no.",prime_num)

set of first prime no. {2, 3, 5, 7, 11}

In [26]:
#22 If two sets are equal
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [27]:
#23 Frozen set
elements = [1, 2, 3, 4, 5]
my_frozen_set = frozenset(elements)
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [29]:
#24 whether a set is disjoint 
set1 = {1, 2, 3, 4}
set2 = {4, 6, 7, 8}
disjoint_status = set1.isdisjoint(set2)
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? False

In [31]:
#25 set of squares from 1 to 5
set_square = set()
for i in range(1,6):
    num = i**2
    set_square.add(num)
print(set_square)

{1, 4, 9, 16, 25}

In [32]:
#26 set of even numbers
original_set = {1, 2, 3, 4, 5}
even_numbers_set = set()
for num in original_set:
    if num % 2 == 0:
        even_numbers_set.add(num)
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [33]:
#27 multiply the set by 2
original_set = {20,30,40}
multiplied_set = set()
for num in original_set:
    multiplied_num = num * 2
    multiplied_set.add(multiplied_num)
print("Original Set:", original_set)
print("Multiplied Set:", multiplied_set)

Original Set: {40, 20, 30}
Multiplied Set: {80, 40, 60}

In [35]:
#28 random number set
import random
num_random = 5
random_number_set = set()
for i in range(num_random):
    random_num = random.randint(1, 50)
    random_number_set.add(random_num)
print("Set of random numbers:", random_number_set)

Set of random numbers: {5, 39, 45, 14, 23}

In [37]:
#29 if a set is empty
check_set = set()
if not check_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [38]:
#30 Create a nested set
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1, frozen_set2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [2]:
#31 Discard en element
my_set = {10, 20, 30, 40, 50}
print("Initial set:", my_set)
element_to_remove = 30
my_set.discard(element_to_remove)
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {50, 20, 40, 10, 30}
Set after removing 30 : {50, 20, 40, 10}

In [3]:
#32 Compare two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
subset = set1.issubset(set2)
superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?",subset)
print("Is set2 a subset of set1?",superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [5]:
#33 set from string
string = 'House'
my_set = set(string)
print(my_set)

{'u', 'H', 'o', 's', 'e'}

In [10]:
#34 string into integers set
string_set = {'123','456','789'}
integer_set = set()
for i in string_set:
    y = int(i)
    integer_set.add(y)
print("Integer set:",integer_set)

Integer set: {456, 123, 789}

In [11]:
#35 integer into string set
integer_set = {123,456,789}
string_set = set()
for i in integer_set:
    y = str(i)
    string_set.add(y)
print("String set:", string_set)

String set: {'456', '123', '789'}

In [12]:
#36 Tuple into set 
input_tuple = (1, 2, 3, 2, 4, 5, 1)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5}

In [13]:
#37 Set into tuple
input_set = {1, 2, 3, 4, 5}
output_tuple = tuple(input_set)
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [15]:
#38 Maximum value in the set
my_set = {15, 7, 22, 33, 8}
max_value = None
for num in my_set:
    if max_value is None or num > max_value:
        max_value = num  
print("Maximum value:", max_value)

Maximum value: 33

In [16]:
#39 Minimum value in set
my_set = {15, 7, 22, 3, 8}
min_value = None
for num in my_set:
    if min_value is None or num < min_value:
        min_value = num  
print("Minimum value:", min_value)

Minimum value: 3

In [21]:
#40 create a set from user input
my_set = set()
print("Enter elements for the set (type 'finish' to end):")
while True:
    user_input = input(":> ")  
    if user_input.lower() == 'finish':
        break  
    my_set.add(user_input)
print("Final set:", my_set)

Enter elements for the set (type 'finish' to end):

:>  Apple,Mango,Banana
:>  finish

Final set: {'Apple,Mango,Banana'}

In [23]:
#41 Intersection of two sets is empty
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
intersection_result = set1.intersection(set2)
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is empty.

In [24]:
#42 fibonacci series
fibonacci_set = set()
a, b = 0, 1
for i in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [25]:
#43 Remove duplicates fromlist using a set
original_list = [1,1,1,2,3,4,5,5,5,6,6,7]
unique_set = set(original_list)
unique_list = list(unique_set)
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [1, 1, 1, 2, 3, 4, 5, 5, 5, 6, 6, 7]
List with Duplicates Removed: [1, 2, 3, 4, 5, 6, 7]

In [28]:
#44 If two sets have same elements
def same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    return sorted_list1 == sorted_list2
set1 = {1, 2, 3, 2, 4, 3, 1}
set2 = {3, 1, 2, 4}
result =same_elements(set1, set2)
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [29]:
#45 powers of 2 
def powers_of_2(n):
    powers_of_2 = set()
    for i in range(n):
        power = 2 ** i
        powers_of_2.add(power)
    return powers_of_2

In [30]:
powers_of_2(5)

{1, 2, 4, 8, 16}

In [32]:
#46 Common elements between a set and list
my_set = {1,2,3,4,5,6}
my_list = [5,6,7,8,9]
common_elements = []
new_list = list(my_set)
for i in my_list:
    if i in new_list:
        common_elements.append(i)
print(set(common_elements))

{5, 6}

In [34]:
#47 Triangular numbers
def triangular_numbers(n):
    tri_numbers = set()
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2
        tri_numbers.add(triangular_number)
    return tri_numbers
n = int(input("Enter the value of n: "))
triangular_set =triangular_numbers(n)
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  5

The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}

In [36]:
#48 If another subset is in set
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5}
subset = set2.issubset(set1)
if subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [54]:
#49 0s and 1s in a set
def create_set(n):
    my_set = set()
    for i in range(n):
        if i % 2 == 0:
            my_set.add(0)
        else:
            my_set.add(1)
    return my_set

In [55]:
create_set(7)

{0, 1}

In [56]:
#50 Merge sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged se
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}